/tiktokvpn
/tiktokvpn-account.json
/tiktokvpn-report-*.txt

android/.gradle/
android/.kotlin/
android/local.properties
android/app/build/
android/build/
android/app/libs/*.aar
android/app/libs/*-sources.jar
!android/app/libs/.gitkeep
.impeccable/
.cache/
